.post-copyright {
  margin: $post-copyright.margin;
  padding: $post-copyright.padding;
  border-left: $post-copyright.border.width $post-copyright.border.style $post-copyright.border.color;
  background-color: #29487d69;
  list-style: none;
  color: #bbb;
}
