// Custom styles.

// menu
.menu .menu-item a:hover {
	color: white;
    background: #000d33;
    border-bottom-color: transparent;   
}
.menu-item-active a {
	color: white;
    background: #000d33;
    border-bottom-color: transparent;
}